.ingredient{
    background-size:100%;	
    position: absolute;
    opacity: 0.8;
}

#gobelet {  
    background-size:100%;
    position: absolute;	  
    left: 10px;
    top: 10px;
    width: 300px;
    height: 355px;
    background-image:url(images/gobelet.png);
    background-repeat:no-repeat;
}

#milk {
    left: 57px;
    top: 100px;
    width: 213px;
    height: 253px;
    background-image:url(images/milk.png);
    background-repeat:no-repeat;
}

#coffee {
    left: 78px;
    top: 225px;
    width: 172px;
    height: 134px;
    background-image:url(images/coffee.png);
    background-repeat:no-repeat;
}
