/*code Sergio*/
body{
	background-image: url('img/Interface/Vue1.png');
	background-repeat: no-repeat;
	background-position: center top;

}
.btnThe{
	margin-left: 245px;
	margin-top: 220px;
}
.btnMoins{
	margin-left: 845px;
	margin-top: -189px;
}
.btnPlus{
	margin-left: 889px;
	margin-top: -229px;
}
.btnChoc{
	margin-left: 230px;
	margin-top: -35px;
}
.btnLat{
	margin-left: 230px;
	margin-top: 5px;
}
.btnExp{
	margin-left: 230px;
	margin-top: 5px;
}
.sugar1, .sugar2,.sugar3, .sugar4, .sugar5{
	opacity: 0;
}
.nbsugar{
	margin-left: 1165px;
	margin-top: -670px;
}
/*---------------------------------------------------------------------*/
