
body{
	background-image: url('img/Interface/Vue2.png');
	background-repeat: no-repeat;
	background-position: center top;

}
.vue1{
	margin-left: 205px;
	margin-top: 850px;
}
.rempIng{
	margin-left: 740px;
	margin-top: 385px;
	height: 75px;
}
.rempMon{
	margin-left: 250px;
	margin-top: 190px;
}
.vue1{
	margin-left: 200px;
	margin-top: 150px;
}

.cinqCts{
	margin-top: -225px;
	margin-left: 335px;
	color: white;
}
.dixCts{
	margin-top: -225px;
	color: white;
	margin-left: 440px;
}
.vingtCts{
	margin-top: -225px;
	color: white;
	margin-left: 545px;
}
.cinquanteCts{
	margin-top: -225px;
	color: white;
	margin-left: 650px;
}
.unEu{
	margin-top: -225px;
	color: white;
	margin-left: 755px;
}
.deuxEu{
	margin-top: -225px;
	color: white;
	margin-left: 875px;
}
